{% extends 'app/base.html.twig' %}

{% block title %}Engines - Kunlabo{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('engines') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('engines') }}
{% endblock %}

{% block content %}
    <div class="App-content-wrapper" data-controller="new-entity menu" data-action="click->menu#closeMenuIfOutside"
         data-menu-delete-message-value="Are you sure you want to delete this engine? This will remove any studies that use it.">
        <div class="App-content-header">
            <h1 class="App-title">Engines</h1>
            <button class="App-button" data-action="new-entity#show">New engine</button>
            <form class="Engines-form" action="{{ path('web_engines_post') }}" method="post" autocomplete="off"
                  data-new-entity-target="form" data-action="new-entity#submit">
                <label class="App-label" for="name" style="display: none">Name</label>
                <input class="App-input" name="name" type="text" id="name" placeholder="Name" size="40"
                       data-new-entity-target="input" data-action="keyup->new-entity#keyUp blur->new-entity#blur">
            </form>
        </div>

        {% if engines is empty %}
            <div class="App-placeholder">
                <i class="fas fa-box-open App-placeholder-icon"></i>
                <p class="App-placeholder-text">No engines yet. Create one!</p>
            </div>
        {% else %}
                <div class="App-four-columns-right App-list-header">
                    <p class="App-list-item"><strong>Name</strong></p>
                    <p class="App-list-item"><strong>Created</strong></p>
                    <p class="App-list-item"><strong>Modified</strong></p>
                </div>
                {% for engine in engines %}
                    <div class="App-menu-wrapper" id="{{ engine.id }}">
                        <a draggable="false" class="App-four-columns-right App-list-row" href="{{ path('web_engines_by_id', {id: engine.id}) }}">
                            <div class="App-list-item"><span>{{ engine.name }}</span></div>
                            <div class="App-list-item"><span>{{ engine.created | ago }}</span></div>
                            <div class="App-list-item"><span>{{ engine.modified | ago }}</span></div>

                            <i class="fas fa-ellipsis-v fa-fw App-kebab-button" data-action="click->menu#toggleMenu"></i>
                        </a>

                        <div class="App-menu">
                            <div class="App-menu-option" data-action="click->menu#delete" data-name="{{ engine.name }}"
                                 data-url="{{ path('web_engines_delete', {id: engine.id}) }}">
                                <i class="fas fa-fw fa-trash-alt App-menu-option-icon App-menu-option-danger"></i>
                                <p class="App-menu-option-text App-menu-option-danger">Delete engine</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
        {% endif %}
    </div>
{% endblock %}