{% from "app/files.html.twig" import folder %}

{% extends 'app/base.html.twig' %}

{% block title %}{{ engine.name }} - Files - Kunlabo{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('engines') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('engines') }}
{% endblock %}

{% block content %}
    <div class="App-content-wrapper" data-controller="files" data-files-main-value="{{ engine.main }}"
         data-action="dragenter->files#dragEnter dragover->files#drag dragleave->files#dragLeave drop->files#drop click->files#closeMenuIfOutside">

        <div class="Files-overlay-wrapper" data-files-target="overlay">
            <div class="Files-overlay">
                <i class="fas fa-file-upload App-placeholder-icon"></i>
                <p class="App-placeholder-text" style="margin-bottom: -23px">Drop to upload!</p>
            </div>
        </div>

        <div class="App-content-header">
            <div class="App-content-header-row">
                {% block header %}
                    <a draggable="false" href="{{ path('web_engines') }}" class="App-button-back"><h2 class="App-title"><i class="fa fa-chevron-left"></i></h2></a>
                    <h2 class="App-title">Files - {{ engine.name }}</h2>
                {% endblock %}
            </div>
        </div>

        <div class="App-four-columns-right Engines-list-header">
            <p class="Engines-list-item"><strong>Name</strong></p>
            <p class="Engines-list-item"><strong>Created</strong></p>
            <p class="Engines-list-item"><strong>Modified</strong></p>
        </div>
        <div class="Files" data-files-target="files" style="{{ paths is empty ? 'display : none' : '' }}">
            {{ folder(paths, files, engine.main, folder) }}
            <div class="App-menu" data-files-target="menu">
                <div class="App-menu-option" data-action="click->files#setAsMain">
                    <i class="fas fa-fw fa-star App-menu-option-icon"></i>
                    <p class="App-menu-option-text">Set as main</p>
                </div>
                <div class="App-menu-option" data-action="click->files#delete">
                    <i class="fas fa-fw fa-trash-alt App-menu-option-icon App-menu-option-danger"></i>
                    <p class="App-menu-option-text App-menu-option-danger">Delete file</p>
                </div>
            </div>
        </div>

        <div class="App-placeholder" data-files-target="placeholder" style="{{ paths is empty ? '' : 'display : none' }}">
            <i class="fas fa-cloud-upload-alt App-placeholder-icon"></i>
            <p class="App-placeholder-text">Drop some files or folders to upload!</p>
        </div>

        <div class="Files-progress" style="display: none">
            <div class="Files-progress-bar" data-files-target="progress"></div>
        </div>
    </div>
{% endblock %}