{% extends 'app/base.html.twig' %}

{% block title %}{{ engine.name }} - Kunlabo{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('engines') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('engines') }}
{% endblock %}

{% block content %}
    <div class="Engines-wrapper">
        <div class="Engines-header">
            <div class="Engine-header-row">
                <a href="{{ path('web_engines') }}" class="App-button-back"><h2 class="App-title"><i class="fa fa-chevron-left"></i></h2></a>
                <h2 class="App-title">{{ engine.name }}</h2>
            </div>
        </div>
    </div>
{% endblock %}