{% extends 'app/base.html.twig' %}

{% block title %}Engines - Kunlabo{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('engines') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('engines') }}
{% endblock %}

{% block content %}
    <div class="Engines-wrapper" data-controller="newEntity">
        <div class="Engines-header">
            <h1 class="App-title">Engines</h1>
            <button class="App-button" data-action="newEntity#show" data-newEntity-target="button">New engine</button>
            <form class="Engines-form" action="{{ path('web_engines_post') }}" method="post" autocomplete="off"
                  data-newEntity-target="form" data-action="newEntity#submit">
                <label class="App-label" for="name" style="display: none">Name</label>
                <input class="App-input" name="name" type="text" id="name" placeholder="Name" size="35"
                       data-newEntity-target="input" data-action="keyup->newEntity#keyUp blur->newEntity#blur">
            </form>
        </div>

        {% if engines is empty %}
            <div class="App-placeholder">
                <i class="fas fa-box-open App-placeholder-icon"></i>
                <p class="App-placeholder-text">No engines yet. Create one!</p>
            </div>
        {% else %}
                <div class="App-columned Engines-list-header">
                    <p class="Engines-list-item"><strong>Name</strong></p>
                    <p class="Engines-list-item"><strong>Created</strong></p>
                    <p class="Engines-list-item"><strong>Modified</strong></p>
                </div>
                {% for engine in engines %}
                    <a class="App-columned Engines-list-row" href="{{ path('web_engines_by_id', {id: engine.id}) }}">
                        <div class="Engines-list-item"><span>{{ engine.name }}</span></div>
                        <div class="Engines-list-item"><span>{{ engine.created | ago }}</span></div>
                        <div class="Engines-list-item"><span>{{ engine.modified | ago }}</span></div>
                    </a>
                {% endfor %}
        {% endif %}
    </div>
{% endblock %}