{% extends 'app/base.html.twig' %}

{% block title %}{{ agent.name }} - Kunlabo{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('studies') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('studies') }}
{% endblock %}

{% block content %}

    <div class="App-content-wrapper">
        <div class="App-content-header">
            <div class="App-content-header-row App-content-inner-header">
                <a draggable="false" href="{{ path('web_studies_by_id', {id: study.id}) }}" class="App-button-back">
                    <h2 class="App-title"><i class="fa fa-chevron-left"></i></h2>
                </a>
                <h2 class="App-title">{{ agent.name }} - {{ study.name }}</h2>
            </div>
            <p class="Studies-participant"><strong>{{ participant.name }}</strong> ({{ participant.age.raw }}, {{ participant.gender }}, {{ participant.handedness }})</p>
        </div>
        <iframe class="Studies-frame" src="{{ asset(agent.mainUrl) }}" title="{{ study.name }}" data-controller="iframe"
                data-iframe-target="iframe" data-iframe-topic-value="http://kunlabo.com/agent/{{ study.id }}/{{ participant.id }}"
                data-iframe-mercure-value="{{ mercure }}" data-iframe-persist-value="/persisted/{{ study.id }}/{{ participant.id }}.json"
                data-iframe-sub-value="onMessage" data-iframe-pub-value="sendMessage"
                sandbox="allow-forms allow-modals allow-orientation-lock allow-pointer-lock allow-popups allow-presentation allow-same-origin allow-scripts allow-downloads"
                {# Disallowed: allow-popups-to-escape-sandbox, allow-top-navigation, allow-top-navigation-by-user #}
        ></iframe>
    </div>
{% endblock %}