{% extends 'app/base.html.twig' %}

{% block title %}{{ agent.name }} - Kunlabo{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('studies') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('studies') }}
{% endblock %}

{% block content %}

    <div class="Studies-wrapper">
        <div class="Studies-header">
            <div class="Studies-header-row">
                <a href="{{ path('web_studies_by_id', {id: study.id}) }}" class="App-button-back">
                    <h2 class="App-title"><i class="fa fa-chevron-left"></i></h2>
                </a>
                <h2 class="App-title">{{ agent.name }} - {{ study.name }}</h2>
            </div>
            <p class="Studies-participant">{{ participant.name }} ({{ participant.age.raw }}, {{ participant.gender }}, {{ participant.handedness }})</p>
        </div>
        <iframe class="Studies-frame" src="{{ asset(agent.mainUrl) }}" title="{{ study.name }}" data-controller="iframe"
                data-iframe-target="iframe" data-iframe-topic-value="http://kunlabo.com/agent/{{ study.id }}/{{ participant.id }}"
                data-iframe-mercure-value="{{ mercure }}"
                data-iframe-sub-value="onAgentMessage" data-iframe-pub-value="sendEngineMessage"></iframe>
    </div>
{% endblock %}