{% extends 'app/base.html.twig' %}

{% block title %}Studies - Kunlabo{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('studies') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('studies') }}
{% endblock %}

{% block content %}

    <turbo-frame id="modal">
        {% block modal %}
        {% endblock %}
    </turbo-frame>
    <div class="Studies-wrapper" data-controller="menu" data-action="click->menu#closeMenuIfOutside"
         data-menu-delete-message-value="Are you sure you want to delete this study? This will remove its participants and logs.">
        <div class="Studies-header">
            <h1 class="App-title">Studies</h1>
            <a draggable="false" href="{{ path('web_studies_new') }}" class="App-button" data-turbo-frame="modal">New study</a>
        </div>

        {% if studies is empty %}
            <div class="App-placeholder">
                <i class="fas fa-box-open App-placeholder-icon"></i>
                <p class="App-placeholder-text">No studies yet. Create one!</p>
            </div>
        {% else %}
            <div class="App-four-columns-right Studies-list-header">
                <p class="Studies-list-item"><strong>Name</strong></p>
                <p class="Studies-list-item"><strong>Created</strong></p>
                <p class="Studies-list-item"><strong>Modified</strong></p>
            </div>
            {% for study in studies %}
                <div class="App-menu-wrapper" id="{{ study.id }}">
                    <a draggable="false" class="App-four-columns-right Studies-list-row" href="{{ path('web_studies_by_id', {id: study.id}) }}">
                        <div class="Studies-list-item"><span>{{ study.name }}</span></div>
                        <div class="Studies-list-item"><span>{{ study.created | ago }}</span></div>
                        <div class="Studies-list-item"><span>{{ study.modified | ago }}</span></div>

                        <i class="fas fa-ellipsis-v fa-fw App-kebab-button" data-action="click->menu#toggleMenu"></i>
                    </a>

                    <div class="App-menu">

                        <div class="App-menu-option" data-controller="clipboard" data-action="click->clipboard#copy click->menu#closeMenu"
                                data-clipboard-text-value="{{ absolute_url(path('web_participant', {id: study.id })) }}">
                            <i class="fas fa-fw fa-link App-menu-option-icon"></i>
                            <p class="App-menu-option-text">Copy link</p>
                        </div>
                        <a draggable="false" class="App-menu-option"
                           href="{{ path('web_logs_by_study', {id: study.id}) }}"
                           download="{{ study.name }}.json">
                            <i class="fas fa-fw fa-clipboard-list App-menu-option-icon"></i>
                            <p class="App-menu-option-text">Download logs</p>
                        </a>

                        <div class="App-menu-option" data-action="click->menu#delete" data-name="{{ study.name }}"
                             data-url="{{ path('web_studies_delete', {id: study.id}) }}">
                            <i class="fas fa-fw fa-trash-alt App-menu-option-icon App-menu-option-danger"></i>
                            <p class="App-menu-option-text App-menu-option-danger">Delete study</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}