{% extends 'app/base.html.twig' %}

{% block title %}Studies - Kunlabo{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('studies') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('studies') }}
{% endblock %}

{% block content %}

    <turbo-frame id="modal">
        {% block modal %}
        {% endblock %}
    </turbo-frame>
    <div class="Studies-wrapper">
        <div class="Studies-header">
            <h1 class="App-title">Studies</h1>
            <a href="{{ path('web_studies_new') }}" class="App-button" data-turbo-frame="modal">New study</a>
        </div>

        {% if studies is empty %}
            <div class="App-placeholder">
                <i class="fas fa-box-open App-placeholder-icon"></i>
                <p class="App-placeholder-text">No studies yet. Create one!</p>
            </div>
        {% else %}
            <div class="App-three-columns Studies-list-header">
                <p class="Studies-list-item"><strong>Name</strong></p>
                <p class="Studies-list-item"><strong>Created</strong></p>
                <p class="Studies-list-item"><strong>Modified</strong></p>
            </div>
            {% for study in studies %}
                <a class="App-three-columns Studies-list-row" href="{{ path('web_studies_by_id', {id: study.id}) }}">
                    <div class="Studies-list-item"><span>{{ study.name }}</span></div>
                    <div class="Studies-list-item"><span>{{ study.created | ago }}</span></div>
                    <div class="Studies-list-item"><span>{{ study.modified | ago }}</span></div>
                </a>
            {% endfor %}
        {% endif %}
    </div>
{% endblock %}