{% extends 'app/base.html.twig' %}

{% block title %}{{ study.name }} - Kunlabo{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('studies') }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('studies') }}
{% endblock %}

{% block content %}
    <div class="Studies-wrapper">
        <div class="Studies-header">
            <div class="Studies-header-row">
                <a href="{{ path('web_studies') }}" class="App-button-back"><h2 class="App-title"><i class="fa fa-chevron-left"></i></h2></a>
                <h2 class="App-title">{{ study.name }}</h2>
            </div>
        </div>
    </div>
{% endblock %}